<ion-content>
<ion-list>
<ion-item>
  <ion-select
    class="never-flip"
    toggleIcon="caret-down-sharp"
    interface="popover"
    [(ngModel)]="selectedFigure" (ionChange)="onFigureChange($event)" 
    label="Figura Geométrica"
    placeholder= '{{ selectedFigure }}'
  >
    <ion-select-option value="circulo">Círculo</ion-select-option>
    <ion-select-option value="triangulo">Triángulo</ion-select-option>
  </ion-select>
</ion-item>
</ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Círculo</ion-card-title>
      <ion-card-subtitle>Perímetro</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      El perímetro de un círculo es la longitud de la línea que forma su borde.
      <br>
      <ion-img src="assets/imagen/circulo.png" alt="Perímetro de un círculo" class="img-fluid"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-input  [(ngModel)]="radio" label="Radio (cm)" label-placement="floating" fill="solid" placeholder="Ingrese el radio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button expand="block" (click)="calcularPerimetro()">CALCULAR EL PERÍMETRO</ion-button>
    </ion-item>
    <ion-item>
      {{ resultado }}
    </ion-item>
  </ion-list>
</ion-content>