<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Figuras Geométricas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-select [(ngModel)]="selectedFigure" (ionChange)="onFigureChange($event)" label="Figura Geométrica" label-placement="floating" fill="solid">
      <ion-select-option value="circulo">Círculo</ion-select-option>
      <ion-select-option value="triangulo">Triángulo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>